p {
    font: 14px/24px "Source Code Pro", Inconsolata, "Lucida Console", Terminal, "Courier New", Courier;
    padding: 5px;
}
IMG.center {
    max-width: 100%;
    height: auto;
    margin-top: 50%;    
}
section {    
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}
section.links {
    position: absolute;
    ;
    top: 50%;
    margin-left: 19%;
    transform: translate(0%, -25%)
}
