/* alternatieve test stijl */

body {
    margin: 0px;
    padding: 0px;
}

section{
    
}

p{
    
}


#top {
    width: 100%;
    height: 33,33%;
}

#links {
    width: 33,33%;
    height: 33,33%;
}

#midden {
    width: 33,33%;
    height: 33,33%;
}

#rechts {
    width: 33,33%;
    height: 33,33%;
}
